@model DD4T.ContentModel.IComponentPresentation

@using DD4T.Mvc.Html;

@Html.SiteEditComponentPresentation(Model)
@{
    string title = Model.ComponentTemplate.Title;
    string cls = "span3";
    int rowlenght = 4;
    if (title.Contains("3"))
    {
        cls = "span4";
        rowlenght = 3;
    }
    int counter = 0;
}
@foreach (var linkfield in Model.Component.Fields["articlelink"].LinkedComponentValues)
{
    if (linkfield.Fields.ContainsKey("header"))
    {
        var field = linkfield.Fields["header"];
        <h2>@Html.SiteEditField(Model.Component, field)@field.Value.ToString()</h2>
    }
    if (linkfield.Fields.ContainsKey("description"))
    {
        var field = linkfield.Fields["description"];
        <p>@Html.SiteEditField(Model.Component, field)@field.Value.ToString()</p>
    }
    if (linkfield.Fields.ContainsKey("linkurl"))
    {
        var field = linkfield.Fields["linkurl"];
        <p>@Html.SiteEditField(Model.Component, field)<p><a class="btn" href="@field">View details &raquo;</a></p></p>
    }
}








