@model DD4T.ContentModel.IComponentPresentation
@using TietoGadget.Helpers;
@using DD4T.Mvc.Html
@Html.SiteEditComponentPresentation(Model)


@{
    var prodcut_cat = Model.Component.Fields["product_category"].Value;
    var prodcut_cat_path = Model.Component.Fields["product_details_Path"].Value;
    List<string> compList = null;
    if (Session["productlist"] != null)
    {
        compList = (List<string>)Session["productlist"];
    }
}
<div class="container marketing">
    @foreach (var compId in compList)
    {

        DD4T.ContentModel.IComponent comp = CommonHelper.GetComponent(compId);
        if (comp.MetadataFields["product_category"].Value == prodcut_cat)
        {
            <hr class="featurette-divider">
            if (comp.Fields.Keys.Contains("linkdata"))
            {
                var field = comp.Fields["linkdata"];
                DD4T.ContentModel.Component linkComponent = CommonHelper.GetComponent((@field.Value));
                string url = prodcut_cat_path + field.Value.ToString();
                <a href="@url">@linkComponent.Fields["header"].Value.ToString()</a>

            }
            if (comp.Fields.Keys.Contains("description"))
            {

                var field = comp.Fields["description"];
                <h4>@field.Value.ToString()</h4>
            }
            if (comp.Fields.Keys.Contains("imagelink"))
            {
                var field = comp.Fields["imagelink"];
                <img src="@field.LinkedComponentValues[0].Multimedia.Url" width="200px" height="160px" alt="@field.LinkedComponentValues[0].Title" />
            }

        }
    }
</div>

