@model DD4T.ContentModel.IPage
@using DD4T.Mvc.Html
@using TietoGadget.Helpers;
@*
    This is a very basic Page View, you may delete this if you wish.
*@
@section Title
    {
    @Model.Title
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["pageuri"] = Model.Id;
}


        <div class="container marketing">

            <!-- Three columns of text below the carousel -->

            <div class="row">
                @Html.RenderComponentPresentationsByView(new[] { "accessory_3_column" })
            </div>
            <div class="row">
                @Html.RenderComponentPresentationsByView(new[] { "accessory_4_column" })
            </div>
            <div class="row">
                                @*<!-- Start Region: {
      title: "Article",
      allowedComponentTypes: [
          {
              schema: "tcm:2033-4739-8",
              template: "tcm:2033-4834-32"
          }
      minOccurs: 1,
      maxOccurs: 3
          } -->
    @Html.RenderComponentPresentationsByView(new[] { "article", }*@
                </div>
                <div class="row">
                    @*<!-- Start Region: {
            title: "ArticleSmall",
            allowedComponentTypes: [
                {
                    schema: "tcm:2033-4739-8",
                    template: "tcm:2033-4837-32"
                }
            minOccurs: 1,
            maxOccurs: 4
                } -->)*@
                @Html.RenderComponentPresentationsByView(new[] {"article","article_small" })
            </div>


        </div>

       
        @Html.SiteEditPage(Model)
